<p>
    Greetings, {{ name }}
</p>

<p>
    Happy to have you with us ! But before you can use our site, please verify that you are indeed
    the owner of this email account with the below given link:

    <a href="{{link}}">{{link}}</a>
</p>

