* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
  color: #383838;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #BA2D40;
  margin-bottom: 10px;
  margin-top: 5px;
}
p {
  font-size: 1.2em;
}
.ContentContainer {
  width: 960px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.Navbar {
  background-color: #0F0F0F;
  box-shadow: 0px 2px 5px -1px grey;
}
.Navbar ul {
  display: block;
}
.Navbar ul li {
  display: inline-block;
}
.Navbar ul li a {
  text-decoration: none;
  display: inline-block;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  padding: 15px;
  border-bottom: 2px solid transparent;
}
.Navbar ul li a:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}
form input {
  height: 30px;
  width: 300px;
  padding: 3px;
  border: 1px solid silver;
  box-sizing: border-box;
}
form input:focus {
  border-color: #BA2D40;
}
