{% extends "base.html.twig" %}

{% block title %}Welcome !{% endblock %}

{% block body %}
    <div class='ContentContainer'>
        <h1>Welcome to MyFamilyRoot</h1>
        <p>
            Greetings, this is the rewrite of MyFamilyRoot. This site is currently under development. 
            Feel free to check around and suggest changes as we develop the site.
        </p>
    </div>
{% endblock %}