{% extends "base.html.twig" %}

{% block title %}Welcome !{% endblock %}

{% block body %}
    <div class='ContentContainer'>
        <h3>Welcome to MyFamily</h3>
        <p>
            Hello ! This is the rasdsadework of my family root web site. This site is currently
            under development. Meanwhile please check our new site and give us 
            feedbacks and suggestions on improving the site.
        </p>
    </div>
{% endblock %}