{% extends 'base.html.twig' %}

{% block body %}
    <div class='ContentContainer'>
        <h2>Email Confirmation</h2>
        <p>
            We have sent a confirmatin email to your email id, please check it and confirm your account.
            Note that the email will expire in 24 hours, if you need us to send it again click here.
        </p>
    </div>
{% endblock %}